<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
	  <add name="unoDbModelContainer" connectionString="metadata=res://*/unoDbModel.csdl|res://*/unoDbModel.ssdl|res://*/unoDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1P44FJC\SQLEXPRESS;initial catalog=unodb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_ICredentialsManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IDataService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8081/unoProyectServidor"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICredentialsManager"
    contract="ServiceReference1.ICredentialsManager" name="NetTcpBinding_ICredentialsManager">
    <identity>
     <userPrincipalName value="DESKTOP-1P44FJC\cashd" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8081/DataService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IDataService" contract="DataServiceReference.IDataService"
    name="NetTcpBinding_IDataService">
    <identity>
     <userPrincipalName value="LOLOPOL-PC\paulo" />
    </identity>
   </endpoint>
  </client>
	</system.serviceModel>
</configuration>