<?xml version="1.0" encoding="utf-8"?>

<configuration>
    
    <appSettings>
        
    </appSettings>
    <connectionStrings>
        <add name="unoDbModelContainer" connectionString="metadata=res://*/unoDbModel.csdl|res://*/unoDbModel.ssdl|res://*/unoDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOLOPOL-PC\SQLEXPRESS;initial catalog=unodb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDataService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/DataService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IDataService" contract="DataServiceReference.IDataService"
                name="NetTcpBinding_IDataService">
                <identity>
                    <userPrincipalName value="LOLOPOL-PC\paulo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>